@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
.grid__design {
  display: grid;
  width: 100%;
  grid-template-columns:300px 2fr;
  justify-content: space-betweens;
}
.grid_design_2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 270px), 1fr));
}
